* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

html,
body {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #ffffff;
}

.inputBox {
    position: relative;
    background: #fff9c3ce;
    width: 500px;
    padding: 50px 30px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.inputBox h2 {
    font-size: 30px;
    text-align: center;
}

.inputBox input {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 15px 0 35px;
    background: #fff;
    border: 1px solid lightgrey;
    padding-left: 15px;
    border-radius: 5px;
    font-size: 17px;
    outline: none;
    transition: all 0.2s;
}

.inputBox input:focus {
    border-color: #020202;
    box-shadow: inset 0 0 3px #2200ff;
}

.inputBox #btn {
    position: relative;
    color: #fff;
    cursor: pointer;
    background: #2c313197;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 8px;
    width: 235px;
    margin: auto;
    text-align: center;
}

.inputBox #btn:active {
    background: #dedcf46b;
    color: black;
}

.container {
    position: absolute;
}

i {
    color: #070707;
    position: relative;
    margin-left: 1300%;
    padding-bottom: 35px;
    cursor: pointer;
    font-size: 20px;
}

i:active {
    color: #352f2f6f;
}